/* Import Quicksand font for body text */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Import Anuphan font for heading text */
@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');

:root {
    --mainColor: #17202A;
    --secondaryColor: #5D6D7E;
    --thirdColor: #BDC3C7;
    --fourthColor: #D7DBDD;
    /* alternate color scheme with blue as accent color 
    
    --accentColor: #85C1E9;
    --accentColorDarker: #5DADE2;
    --accentColorLighter: #AED6F1;
    */
    --accentColor: #76D7C4;
    --accentColorDarker: #48C9B0;
    --accentColorLighter: #A3E4D7;
    --errorColor: #EF5350;
    --errorColorLighter: #E57373;
    --errorColorDarker: #F44336;
    --sidesIndent: 10px;
    --defaultRadius: 7px;
    --smallDefaultRadius: 3px;
    --defaultContainerWidth: 350px;
    --detaileViewWidth: 450px;
    --deatailViewHeight: 650px;
}


/* general stuff and home page*/

::selection {
    background-color: #85C1E9;
}
body {
    background-color: #F4F6F7;
    overflow-x: hidden;
}
body, button, input, select, a, textarea {
    color: var(--mainColor);
    font-family: Quicksand, sans-serif;
}
button, select {
    font-weight: bold;
}
h1 {
    font-family: Anuphan, sans-serif;
    font-weight: 900;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
h3 {
    margin: 0;
}
.icon {
    width: 20px;
    height: 20px;
    padding: 5px;
    outline: none;
}
.hoverEffect:hover, .hoverEffect:focus {
    outline: none;
    cursor: pointer;
    filter: contrast(50%);
}
.alternateHoverEffect:hover {
    cursor: pointer;
    background-color: var(--fourthColor);
    border-radius: 10px;
}
.topInfo { 
    max-width: 700px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 17px;
}
.logo {
    width: 400px;
    margin-top: 10px;
}

/* animation */

button, div {
    transition-duration: 0.5s;
}
input {
    transition-duration: 0.25s;
}

/* navbar */

#topLeft a {
    font-weight: bold;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navbar {
    width: calc(100% - (var(--sidesIndent) * 1.5));
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: var(--thirdColor);
    border-radius: var(--defaultRadius);
}
#topLeft, #topRight {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
}
#topLeft a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--mainColor);
}
#topLeft {
    margin-left: var(--sidesIndent);
}
#logoText {
    font-family: Anuphan;
}
#topRight {
    justify-content: flex-end;
    margin-right: var(--sidesIndent);
}
#homeIcon {
    margin: 2px;
}
#searchIcon {
    margin-right: 12px;
}
#accountPopup {
    display: flex;
    flex-direction: column;
    width: 0;
    height: 100vh;
    padding-top: 7px;
    /* background-color: #a3aeb9; */
    background-color: var(--mainColor);
    border-radius: var(--defaultRadius);
    /* background-color: var(--accentColorDarker); */
    visibility: hidden;
    box-shadow: 2px 2px 10px black;

    animation-fill-mode: both;
    animation-duration: 0.4s;
}
@keyframes openAccountPopup {
    from {
        width: 0;
        visibility: visible;
        opacity: 0;
    }
    to {
        width: 300px;
        visibility: visible;
        opacity: 1;
    }
}
@keyframes closeAccountPopup {
    from {
        width: 300px;
        visibility: visible;
        opacity: 1;
    }
    to {
        width: 0;
        visibility: hidden;
        opacity: 0;
    }
}
#accountPopup .closePopup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    width: 97%;
}
#accountPopup .closePopup img {
    margin: 0;
    /* moves the links up to the top, but they won't go past popup */
    margin-bottom: -100%;
    margin-top: -2px;
    z-index: 1;
    filter: invert(0.8);
}
#accountPopup .closePopup img:hover {
    cursor: pointer;
    background-color: var(--accentColorDarker);
    border-radius: 10px;
}
#accountPopup #accountPopupContent {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding-top: 5px;
    width: 300px;
    overflow-x: hidden;
}
#accountPopup #accountPopupContent a {
    font-family: Anuphan;
    color: var(--fourthColor);
    text-decoration: none;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 15px;
    outline: none;
    /* background-color: red; */
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    border-radius: 20px;

    transition-duration: 0.25s;
}
#accountPopup #accountPopupContent a:hover {
    color: black;
    background-color: var(--accentColor);
}

/* search page */

#searchParametersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#searchParametersContainer div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 760px;
    height: 30px;
    margin-bottom: 30px;
}
#searchParametersContainer div .half {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 35%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--thirdColor);
}
#searchParametersContainer div .half:nth-child(2) {
    width: 65%;
}
#searchParametersContainer div select {
    font-size: 15px;
    margin: 0;
    width: fit-content;
    height: 30px;
    padding-left: 5px;
    outline: none;
    border: none;
    /* border-bottom: 1px solid var(--secondaryColor); */
    border-radius: var(--smallDefaultRadius);
    background-color: #EAECEE;
}
#searchParametersContainer div select:hover {
    cursor: pointer;
}
option {
    font-weight: bold;
}
#searchParametersContainer div p, #searchParametersContainer div input {
    font-size: 18px;
}
#searchParametersContainer div input:focus {
    border-bottom: 2px solid var(--accentColor);
}
#searchParametersContainer div p {
    margin: 0;
}
#searchParametersContainer .tooltipContainer {
    width: fit-content;
    height: fit-content;
    margin-top: auto;
    display: inline-block;
}
#searchParametersContainer .tooltipContainer:hover .tooltipText {
    animation: animateTooltip 0.7s;
    animation-fill-mode: forwards;

}
#searchParametersContainer .tooltipText {
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--thirdColor);
    border-radius: var(--defaultRadius);
    font-size: 14px;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
}
@keyframes animateTooltip {
    0% {
        visibility: visible;
        opacity: 0;
        margin-top: -10px;
    }
    100% {
        visibility: visible;
        opacity: 1;
        margin-top: -25px;
        margin-left: -25px;
    }
}
#searchParametersContainer div input {
    width: 75px;
    height: 100%;
    outline: none;
    border: none;
    background-color: white;
    border-radius: var(--smallDefaultRadius);
    border-bottom: 2px solid var(--thirdColor);
    padding-left: 5px;
}
#searchParametersContainer .rangeInputs {
    margin-left: 10px;
    margin-right: 10px;
}
#searchControls {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
}
#searchControls .searchControlButton {
    margin: 0;
    outline: none;
    font-size: 18px;
    border: none;
    background-color: var(--fourthColor);
    border-radius: var(--smallDefaultRadius);
    width: fit-content;
    height: 35px;
    font-weight: bold;
    padding: 8px;
    height: fit-content;
}
#searchControls .searchControlButton:hover {
    cursor: pointer;
    background-color: #E5E7E9;
}
#searchControls .searchControlButton:nth-child(1) {
    background-color: var(--accentColor);
}
#searchControls .searchControlButton:nth-child(1):hover {
    background-color: var(--accentColorLighter);
}
#searchControls #removeAllParameters {
    /* background-color: var(--errorColor); */
    width: fit-content;
    height: fit-content;
}
/* #searchControls #removeAllParameters:hover {
    background-color: #EF9A9A;
} */
#invalidInputErrorMessage {
    font-family: Anuphan;
    font-size: 20px;
    margin-top: 152px;
    color: var(--errorColor);
    background-color: #FFCDD2;
    padding: 7px;
    border-radius: var(--smallDefaultRadius);
    font-weight: bold;
    visibility: hidden;
    position: absolute;
}

/* search results */

.backButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 160px;
    height: 28px;
    padding: 5px;
    justify-content: space-evenly;
    outline: none;
    border: none;
    border-radius: var(--defaultRadius);
    background-color: var(--thirdColor);
    font-size: 17px;
    margin-bottom: 10px;
}
.backButtonContainer .icon {
    filter: contrast(50%);
}
.backButtonContainer:hover {
    background-color: var(--fourthColor);
    cursor: pointer;
}
.moreSchools {
    transform: rotate(90deg);
    transform-origin: 0 0;
    height: fit-content;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: var(--defaultRadius);
    background-color: var(--accentColor);
    text-transform: uppercase;
    /* font-weight: bold; */
    padding-left: 30px;
    font-size: 20px;
    width: calc(var(--deatailViewHeight) - 40px);
    margin-left: 60px;
    margin-right: -60px;
}
.moreSchoolsGreenBackground {
    background-color: var(--accentColor);
}
.moreSchoolsGreyBackground {
    background-color: var(--fourthColor);
}
.moreSchoolsHover:hover {
    background-color: var(--accentColorLighter);
    cursor: pointer;
}
.moreSchoolsSecondForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-right: -20px;

    animation-fill-mode: both;
}
@keyframes moreSchoolsTransition {
    from {
        transform: rotate(90deg);
        width: var(--detaileViewWidth);
        margin-left: 60px;
        margin-right: -60px;
    }
    to {
        transform: rotate(0deg);
        width: calc((var(--detaileViewWidth) - 20px) * 1);
        margin-left: 10px;
        margin-right: -10px;
    }
}
.moreSchoolsSecondForm .detailedSchoolView {
    width: 95%;
    height: calc(var(--deatailViewHeight) / 2);
    margin: 0;
    margin-bottom: 15px;
    box-shadow: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
}
.moreSchoolsSecondForm .detailedSchoolView::-webkit-scrollbar {
    width: 7px;
}
.moreSchoolsSecondForm .detailedSchoolView div {
    height: 40px;
    margin: 0;
    padding: 0;
}
.similarSaveButton {
    outline: none;
    border: none;
    width: 97%;
    text-transform: uppercase;
    border-radius: var(--defaultRadius);
    padding: 3px;
}
.save{
    background-color: var(--accentColor);
}
.unsave{
    background-color: var(--thirdColor);
}
.save:hover {
    background-color: var(--accentColorLighter);
    cursor: pointer;
}
.unsave:hover {
    background-color: var(--fourthColor);
    cursor: pointer;
}
.closeMoreSchools {
    position: absolute;
    margin-left: 395px;
    margin-top: 2px;
}
@keyframes moreSchoolsReverseTransition {
    from {
        transform: rotate(0deg);
        width: calc((var(--detaileViewWidth) - 20px) * 1);
        margin-left: 10px;
        margin-right: -10px;
    }
    to {
        transform: rotate(90deg);
        width: calc(var(--detaileViewWidth) + 200px);
        margin-left: 60px;
        margin-right: -60px;
    }
}

/* login */

#loginForm{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
#loginForm p {
    margin: 0;
}
#loginForm input {
    outline: none;
    margin-bottom: 20px;
    font-size: 17px;
    background-color: white;
    border: none;
    border: 2px solid var(--thirdColor);
    border-radius: var(--defaultRadius);
    padding: 7px;
    font-weight: bold;
    width: 200px;
    overflow-x: hidden;
}
#loginForm input:focus {
    border: 2px solid var(--secondaryColor);
}
#loginForm .submit {
    border: none;
    background-color: var(--accentColor);
    width: 100%;
}
#loginForm .submit:hover {
    cursor: pointer;
    background-color: var(--accentColorLighter);
}
#loginForm .submit:focus {
    border: none;
}

/* manage profile */

.profileInfoContainer {
    display: flex;
    flex-direction: row;
    width: var(--defaultContainerWidth);
    height: 35px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 15px;
    align-self: center;
}
.profileInfoContainer p {
    font-weight: bold;
}
.profileInfoContainer input {
    outline: none;
    border: none;
    padding: 7px;
    border-radius: var(--defaultRadius);
    width: 200px;
    background-color: transparent;
    border: 2px solid transparent;
    transition-duration: 0.5s;
}
.profileInfoContainer input:focus {
    border: 2px solid var(--accentColor);
}
.profileInfoContainer .right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profileInfoContainer .right .icon {
    position: absolute;
    margin-left: 220px;
}
.profileInfoContainer .verticalRight {
    display: flex;
    flex-direction: column;
}
.profileInfoContainer .verticalRight p {
    font-size: 11px;
    position: absolute;
    margin-top: 40px;
    visibility: hidden;
    color: var(--secondaryColor);
}
.profileInfoContainer .verticalRight p:hover {
    cursor: default;
}

/* manage saved schools */

.schoolSavedContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--secondaryColor);
}
.schoolSavedContainer div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.schoolSavedContainer .top h3 {
    margin-left: 15px;
    margin-right: 20px;
    text-transform: uppercase;
}
.schoolSavedContainer .bottom {
    justify-content: center;
}
.schoolSavedContainer div button {
    outline: none;
    border-radius: var(--defaultRadius);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--fourthColor);
    font-weight: normal;
    transition-duration: 0.25s;
}
.schoolSavedContainer div button:hover {
    outline: none;
    border-radius: var(--defaultRadius);
    border: none;
    background-color: var(--accentColorLighter);
    cursor: pointer;
}
.schoolSavedContainer div .addOnText {
    font-size: 13px;
    position: absolute;
    margin-top: 40px;
    margin-left: -138px;
}
.savedSchoolsContainer {
    display: flex;
    flex-direction: column;
}
.savedSchoolsContainer .schoolSavedContainer:last-child {
    border: none;
}
.leftRightContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 25%;
}
.detailedSchoolView{
    background-color: white;
    border-radius: var(--defaultRadius);
    padding-left: 15px;
    padding-right: 15px;
    width: var(--detaileViewWidth);
    height: var(--deatailViewHeight);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 75px;
    overflow-y: scroll;
    box-shadow: 2px 2px 10px var(--thirdColor);
    transition: none;
}
.detailedSchoolView::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
.detailedSchoolView::-webkit-scrollbar-thumb {
    background-color: var(--thirdColor);
    border-radius: 15px;
}
.detailedSchoolView::-webkit-scrollbar-thumb:hover {
    background-color: #a6acaf;
}
.detailedSchoolView div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px dotted var(--thirdColor);
}
.detailedSchoolView div:last-child {
    border: none;
}
.detailedSchoolView div p {
    font-weight: bold;
}
.detailedSchoolView div div p:nth-child(1) {
    font-weight: normal;
}
.detailedSchoolView div .detailedSchoolViewData {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 40%;
    border: none;
}
.detailedSchoolView div .emphasesData {
    flex-direction: column;
}
.detailedSchoolView div .emphasesData p {
    margin-bottom: -5px;
    font-weight: normal;
}

/* manage universitites */

.universitiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    margin-right: 10px;
    max-width: 100%;
    padding-left: 4px;
    /* background-color: orchid; */
}
.universitiesContainer .column {
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
}
.universitiesContainer .column div {
    /* background-color: greenyellow; */
    width: 100%;
    padding-right: 0;
    border-bottom: 1px solid var(--fourthColor);
}
.universitiesContainer .column:last-child {
    padding-right: 0;
}
.universitiesContainer .column .columnName {
    /* background-color: royalblue; */
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--fourthColor);
    text-transform: uppercase;
    padding-bottom: 8%;
    padding-top: 10%;
    height: 50px;
    font-size: 18px;
}
.farLeft {
    border-radius: var(--defaultRadius) 0  0 var(--defaultRadius);
    /* margin-left: -10px;
    padding-left: 10px; */
}
.farRight {
    border-radius: 0 var(--defaultRadius) var(--defaultRadius) 0;
}
.universitiesContainer .column .columnName p {
    padding-left: 7px;
}
.universitiesContainer .column textarea {
    /* background-color: orchid; */
    margin: 0;
    padding: 0;
    height: 50px;
    padding-left: 7px;
    padding-top: 10px;
    margin-top: 5px;
    word-wrap: break-word;
    resize: none;
    font-size: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: var(--defaultRadius);
    transition-duration: 0.5s;
}
.textareaPassword {
    color: transparent;
    text-shadow: 0 0 10px black;
}
/* .textareaPassword:hover {
    color: var(--mainColor);
    text-shadow: none;
} */
.textareaPassword:focus {
    color: var(--mainColor);
    text-shadow: none;
}
.universitiesContainer .column textarea:hover {
    cursor: pointer;
    background-color: white;
}
.universitiesContainer .column textarea:focus {
    cursor: text;
    background-color: white;
    border: 2px solid var(--accentColorLighter);
}
.deactivateUser {
    position: absolute;
    margin-left: -40px;
    margin-top: 12px;
    border-radius: 20px;
    width: 20px;
    padding: 5px;
    transition-duration: 0.25s;
}
.deactivateUser:hover {
    cursor: pointer;
    background-color: var(--errorColorLighter);
}
.universitiesContainer::-webkit-scrollbar {
    background-color: transparent;
    height: 10px;
    width: 10px;
}
.universitiesContainer::-webkit-scrollbar-thumb {
    background-color: var(--thirdColor);
    border-radius: 15px;
}
.universitiesContainer::-webkit-scrollbar-thumb:hover {
    background-color: #a6acaf;
}
.universitiesContainer .column textarea::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}
.universitiesContainer .column textarea::-webkit-scrollbar-thumb {
    background-color: var(--thirdColor);
    border-radius: 15px;
}
.universitiesContainer .column textarea::-webkit-scrollbar-thumb:hover {
    background-color: #a6acaf;
}
.addUniversityButton {
    outline: none;
    border: none;
    background-color: var(--accentColor);
    border-radius: 10px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 2px;
}
.addUniversityButton:hover {
    cursor: pointer;
    background-color: var(--accentColorLighter);
}

/* manage users */
.universitiesContainer .column .containerForUserType {
    width: fit-content;
    position: absolute;
    border: none;
    margin-top: 7px;
}
.universitiesContainer .userTypeContainer {
    display: flex;
    align-items: center;
    padding-left: 5px;
    /* padding-right: 5px; */
}
/* .universitiesContainer .userTypeContainer:hover {
    background-color: white;
    border-radius: 10px;
} */
.universitiesContainer .userTypeContainer input {
    visibility: hidden;
    margin-right: 7px;
}
.universitiesContainer .userTypeContainer div {
    /* border: 2px solid var(--mainColor); */
    background-color: var(--thirdColor);
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 5px;
}
.universitiesContainer .userTypeContainer:hover {
    cursor: pointer;
}
.universitiesContainer .userTypeContainer:hover div {
    filter: contrast(125%);
}
.universitiesContainer .userTypeContainer input {
    visibility: hidden;
    margin-right: 7px;
}
.universitiesContainer .userTypeContainer input:checked ~ div {
    background-color: var(--accentColor);
}
.universitiesContainer .userTypeContainer:nth-child(2) input:checked ~ div {
    background-color: var(--errorColor);
}
.universitiesContainer .column .disabledTextarea {
    visibility: hidden;
}